@charset "UTF-8";

/* ベースのスタイル
------------------------------------------ */
body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul {
  list-style: none;
}



/* 部品
------------------------------------------ */

/* Poppinsフォント */
.-poppins {
  font-family: "Poppins", sans-serif;
}

/* 文字の太さbold */
.-bold {
  font-weight: 700;
}

.-italic {
  font-style: italic;
}
/* コンテナ */
.container {
  margin: auto;
}


/* セクションタイトル */
.section-title {
  font-size: 1.75rem;
  font-weight: 700;
  text-align: center;
}

@media (min-width: 768px) {
  .section-title {
    margin-bottom: 1.4375rem;
    font-size: 2.25rem;
  }
}

/* ボタン */
.button {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  border-radius: 2.5rem;
  color: #fff;
}

@media (min-width: 768px) {
  .button {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
  }
}


/* ヘッダー
------------------------------------------ */
@media (min-width: 768px) {
  .header {
    width: 100%;
    height: 6.3125rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .header-container {
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    height: 6.3125rem;

  }

  .header-container a {
    color: #fff;
  }
}

/* ロゴ */
.header-logo {
  line-height: 1;
  margin-left: 1rem;
}


@media (min-width: 768px) {
  .header-container img  {
    width: 15.0625rem;
    height: 2.8125rem;
    margin-left: 0.3125rem;
    margin-bottom: 0.1875rem;
  }
}



/* ハンバーガーボタン */
.hamburger-button {
  width: 73px;
  height: 73px;
  font-size: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #005BAC;
  color: #fff;
}

@media (min-width: 768px) {
  .hamburger-button {
    display: none;
  }
}

.hamburger-button i {
  line-height: 0;
}



/* ハンバーガーメニュー、ヘッダーナビ
------------------------------------------ */
@media (max-width: 767px) {
  .hamburger-menu {
    position: fixed;
    top: 4.375rem;
    left: 0;
    width: 100%;
    height: calc(100vh - 32rem);
    background-color: #005BAC;
    transition: all 0.6s;
    transform: translateX(100%);
  }
}

@media (min-width: 768px) {
  .hamburger-menu {
    display: flex;
    flex-direction: row;
    padding-right: 1.25rem;
  }
}

/* アクティブ状態 */
.hamburger-menu-active {
  transform: translateX(0);
}

.hamburger-nav {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .hamburger-nav {
    padding-left: 0;
    padding-right: 1.75rem;
  }
}



/* ナビゲーション */
@media (max-width: 767px) {
  .hamburger-nav-list {
    display: table;
    width: calc(100vw - 2rem);
    font-size: 1.125rem;
  }
}

@media (min-width: 768px) {
  .hamburger-nav-list {
    display: flex;
    column-gap: 1.375rem;
    font-size: 1.25rem;
    margin-top: 3.4375rem;
  }
}


@media (max-width: 767px) {
  .hamburger-nav-list a {
    display: flex;
    align-items: center;
    line-height: 2.55;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    font-size: 1.125rem;
    font-weight: 500;
  }
}
@media (min-width: 768px) {
  .hamburger-nav-list a {
    display: flex;
    flex-direction: row;
    color: #333;
    font-size: 1.25rem;
    font-weight: 500;
    column-gap: 1.56rem;
    height: 100%;
    padding-right: 1.6rem;
    line-height: 1;
    font-size: 1.25rem;
  }
}

@media (max-width: 1100px) {
  .hamburger-nav-list a {
    font-size: 0.625rem;
  }
}

/* 右矢印アイコン */
@media (max-width: 767px) {
  .hamburger-nav-list a::before {
    font-family: bootstrap-icons;
    font-size: 1.625rem;
    content: "\F135";
    color: #fff;
    margin-right: 0.3125rem;
  }
}

.button-white {
  background-color: #fff;
  color: #005BAC;
  font-size: 1.125rem;
  padding: 1rem;
  width: 21.875rem;
  margin: 2.125rem auto;
}

@media (min-width: 768px) {
  .button-white {
    background: linear-gradient(to right, #0271E0, #53A2F0);
    max-width: 17.625rem;
    padding: 0.8125rem 0;
    font-size: 1.25rem;
  }
}


/* スムーススクロール */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 3.125rem;
}


@media (min-width: 768px) {
  .main {
    margin-top: 0;
  }
}

/* カバー
------------------------------------------ */
/* カバー画像 */
.cover {
  height: 20.625rem;
  background-image: url("/assets/image/cover_mainvisual_sp.jpg");
  background-position: -0.9375rem 2.5rem;
  background-size: 104%;
  position: relative;
  margin-top: 1.875rem;
  margin-bottom: 10.5625rem;
}

@media (min-width: 768px) {
  .cover {
    background-image: url("/assets/image/cover_mainvisual_pc.jpg");
    height: 43.125rem;
    margin-top: -1.1875rem;
    margin-bottom: 5rem;
    background-position: center;
    background-size: 100%;
  }
}


/* カバーテキスト */
.cover-content {
  padding: 20% 4%;
}

@media (min-width: 768px) {
  .cover-content {
    padding: 6.5% 21.5%;
  }
}



.cover-top-group {
  display: flex;
}

@media (min-width: 768px) {
  .cover-top-group-item {
    margin-top: 0.3125rem;
    margin-left: 1.1875rem;
  }

}

@media (min-width: 768px) {
  .frame-left{
    width: 3.2875rem;
    height: 9.375rem;
  }
  .frame-right {
    width: 3.2875rem;
    height: 9.375rem;
    margin-left: 1.3125rem;
  }
}

.cover-top-group-item-title {
  font-size: 11px;
}

@media (min-width: 768px) {
  .cover-top-group-item-title {
    font-size: 1.25rem;
  }
}


.cover-top-group-item-text {
  font-size: 1.5625rem;
  color: #F11F8D;
  font-weight: 800;
  text-align: center;
  line-height: 1.3;
}

@media (min-width: 768px) {
  .cover-top-group-item-text {
    font-size: 3.375rem;
    margin-top: 0.0625rem;
    margin-left: 0.625rem;
  }
}

.cover .big-numbers {
  font-size: 2.25rem;
}

@media (min-width: 768px) {
  .cover .big-numbers {
    font-size: 4.625rem;
  }
}

.cover-bottom {
  margin-top: 1.125rem;
  margin-left: 0.0625rem;
}

.cover-bottom-title {
  font-size: 0.875rem;
}

@media (min-width: 768px) {
  .cover-bottom-title {
    font-size: 2.0625rem;
}
}


.cover-bottom-text {
  font-size: 1.5625rem;
  color: #005BAC;
  font-weight: 1000;
  line-height: 1.45;
  margin-top: -0.1875rem;
}

@media (min-width: 768px) {
  .cover-bottom-text {
    font-size: 3.75rem;
}
}

@media (min-width: 768px) {
  .cover-bottom {
    position: relative;
    margin-top: 1.6875rem;
  }
}


/* ナビゲーションボタン
------------------------------------------ */
.navigation {
  margin: -7% -1%;
}

@media (min-width: 768px) {
  .navigation {
    font-size: 1.5rem;
    margin: -1% 21%;
  }
}



/* ナビゲーションボタン */
.navigation .button {
  width: 15.625rem;
  height: 3rem;
  padding: 0.5625rem 3.3125rem 0.6875rem;
  margin: 10px auto 12px;
}

@media (max-width: 1500px) {
  .navigation .button {
    width: 15.625rem;
    height: 3rem;
    padding: 0.5625rem 3.3125rem 0.6875rem;
    margin: 10px auto 12px;
    font-size: 1rem;
  }

}


@media (min-width: 1500px) {
  .navigation .button {
    width: 21.25rem;
    height: 4.6875rem;
    padding: 1rem 3.875rem;
    margin: 0;
    max-width: 100%;
  }
}


@media (min-width: 1500px) {
  .navigation-button {
    margin: 0;
    display: flex;
    flex-direction: row;
    column-gap: 2.375rem;
  }
}




.button-green {
  background-color: #77CB33;
}

.button-orange {
  background-color: #F6AA00;
}

.button-mossgreen {
  background-color: #3AC8AD;
}







/* 選ばれる3つの理由
------------------------------------------ */
.reason .container {
  padding: 0 1rem;
}

@media (min-width: 400px) {
  .reason .container {
    padding-top: 8rem;
  }
}

@media (min-width: 768px) {
  .reason .container {
    padding-bottom: 1.5rem;
    padding-top: 0;
  }
}

.reason .section-title span {
  font-size: 2.5rem;
  color: #F11F8D;
}

@media (min-width: 768px) {
  .reason .section-title span {
    font-size: 3.375rem;
  }
}

.reason-group {
  margin-top: 0.625rem;
}

@media (max-width: 1000px)  {
  .reason-group {
    flex-direction: column;
  }
  .reason2-group {
    flex-direction: column;
  }
}


@media (min-width: 768px) {
  .reason-group {
    max-width: 72.5rem;
    width: 100%;
    margin-inline: auto;
    display: flex;
    margin-bottom: 3rem;
  }
  .reason2-group {
    flex-direction: row-reverse;
  }
}

@media (min-width: 768px) {
  .reason2-group .reason-description-group {
    margin: 0 2.5rem 0 0;
  }
}

img.reason {
  width: 21.4375rem;
  height: 13.75rem;
}

@media (min-width: 768px) {
  img.reason {
    width: 35rem;
    height: 21.625rem;
  }
}

/* ポイント */
h3 {
  font-size: 1.5rem;
  color: #F11F8D;
  line-height: 1.2;
  margin-top: 0.75rem;
}

@media (min-width: 768px) {
  h3 {
    font-size: 1.75rem;
    margin-top: 0.3125rem;
  }
}

h3 .big-numbers {
  font-size: 2.25rem;
  margin-left: 0.125rem;
}

@media (min-width: 768px) {
  h3 .big-numbers {
    font-size: 2.625rem;
  }
}

@media (min-width: 768px) {
  .reason-description-group {
    margin-left: 2.5rem;
  }
}

/* reasonタイトル */
.reason-title {
  font-size: 1.25rem;
  line-height: 1.42;
  margin-top: 0.25rem;
}

@media (min-width: 768px) {
  .reason-title {
    font-size: 1.5rem;
    margin-top: 0.0625rem;
    line-height: 1.75;
  }
}

/* reason本文 */
.reason-description {
  margin-top: 0.625rem;
  margin-bottom: 2.125rem;
}

@media (min-width: 768px) {
  .reason-description {
    font-size: 1rem;
    margin-top: 0.875rem;
  }
}



/* 入学説明会に申し込む
------------------------------------------ */
.admissions-information-session {
  background-color: #FFEDED;
  padding-top: 2.375rem;
  padding-bottom: 2.5rem;
  text-align: center;
}

@media (min-width: 768px) {
  .admissions-information-session {
    padding-top: 3.375rem;
    padding-bottom: 3.5625rem;
  }
  .admissions-information-session br {
    display: none;
  }
}

/* ボタン */
.button-blue {
  background: linear-gradient(to right, #0271E0, #53A2F0);
  max-width: 19.0625rem;
  padding: 1.0625rem 1.0625rem 1.0625rem;
  margin: 0.625rem auto 0;
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  .button-blue {
    max-width: 22.375rem;
    padding: 1rem 0;
    font-size: 1.5rem;
    margin-top: 1.125rem;
  }
  .button-blue span {
    margin-left: 1.375rem;
  }
}



/* コース・目的
------------------------------------------ */

.course .container {
  padding-top: 3.75rem;
  padding-bottom: 5.5625rem;
}

@media (min-width: 768px) {
  .course .container {
    width: 100%;
    max-width: 72.5rem;
    margin-inline: auto;
    padding-top: 4.1875rem;
    padding-bottom: 4.4375rem;
  }
}


.course .section-title {
  margin-left: 1rem;
}

@media (min-width: 768px) {
  .course .section-title {
    margin-left: 0;
    margin-bottom: 1.875rem;
  }
}

/* タブ */
.st-theme-basic {
  border: none;
}

/* タブナビゲーション */
.tab.st>.nav {
  column-gap: 1rem;
  flex-direction: row !important;
}

@media (min-width: 768px) {
  .tab.st>.nav {
    column-gap: 2.25rem;
  }
}

.tab.st-theme-basic>.nav {
  box-shadow: none;
  margin-top: 1rem;
  padding-inline: 1rem;
}

@media (min-width: 768px) {
  .tab.st-theme-basic>.nav {
    padding-inline: 0;
  }
}

.tab.st-theme-basic>.nav .nav-link {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  line-height: 1;
  background-color: #F0F0F0;
  color: #000;
  border-radius: 0.937rem 0.937rem 0 0;
  font-size: 1.125rem;
}

@media (min-width: 768px) {
  .tab.st-theme-basic>.nav .nav-link {
    padding-top: 1.45rem;
    padding-bottom: 1.5rem;
    font-size: 24px;
  }
}

/* アクティブ状態 */
.tab.st-theme-basic>.nav .nav-link.active {
  color: #333 !important;
  background-color: #F2F9FF;
}

.tab.st-theme-basic>.nav .nav-link.active::after {
  background-color: unset !important;
}

/* タブコンテンツ */
.tab-content {
  background-color: #fff;
}

@media (min-width: 768px) {
  .tab.st-theme-basic>.tab-content {
    border-radius: 0 0 1.25rem 1.25rem;
  }

}
.tab.st-theme-basic>.tab-content>.tab-pane {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.5625rem;
  padding: 1.75rem 1rem 1.6rem;
  background-color: #F2F9FF;
}

@media (min-width: 768px) {
  .tab.st-theme-basic>.tab-content>.tab-pane {
    row-gap: 2.25rem;
  }

}

@media (min-width: 768px) {
  .tab.st-theme-basic>.tab-content>.tab-pane {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem 2rem 1.625rem;
  }

  .course-tab-content-item {
    width: calc(50% - 1.125rem);
  }
}

img.expansion {
  width: 21.4375rem;
  height: 13.75rem;
}






/* タイトル */
.bi-arrow-right-short {
  font-size: 1.75rem;
  line-height: 1;
  color: #005BAC;
  margin-left: -0.4375rem;
  margin-right: -0.1875rem;
}

@media (min-width: 768px) {
  .bi-arrow-right-short {
    font-size: 2.125rem;
    margin-left: -0.5rem;
    margin-right: 0;
  }

}

.bi-arrow-right-short::before {
  margin-top: 0.8125rem;
}

.course span {
  font-size: 1.25rem;
  vertical-align: bottom;
}

.expansion {
  overflow: hidden;
}

@media (min-width: 768px) {
  .course img {
    width: 33.25rem;
    height: 20.625rem;
  }
  .course-tab-content-title {
    transition: all .3s;
  }
  .course-tab-content-title:hover img {
    transform: scale(1.2, 1.2);
    transform-origin: center center;
  }
}


/* 費用
------------------------------------------ */
.cost .section-title {
  margin-left: 1rem;
}

@media (min-width: 768px) {
  .cost .section-title {
    margin-left: 0;
    margin-bottom: 1.625rem;
  }
}
.cost .container {
  padding: 3.75rem 1rem 4rem;
}



@media (min-width: 768px) {
  .cost .container {
    padding: 4.1875rem 0 44.125rem;
    width: 37.5rem;
    height: 39.3125rem;
  }

}


.collapse{
  border-collapse: collapse;
  margin-top: 0.9375rem;
}

thead {
  background-color: #F5F5F5;
  height: 4.125rem;
}

@media (min-width: 768px) {
  thead {
    font-size: 1.125rem;
  }

}

.border-right-none {
  border-right: none;
}

.border-left-none {
  border-left: none;
  padding: 0 1.625rem 0 0.8125rem;
}

@media (min-width: 768px) {
  .border-left-none {
    padding: 1.4375rem 84px;
  }
}


table{
  border: 3px solid #ccc;
  width: 100%;
  line-height: 1.65;
}


@media (min-width: 768px) {
  table {
    width: 600px;
    height: 545px;
  }
}

table th,
table td{
  border: 1px solid #ccc;
  padding: 0.5275rem 1.1875rem;
  font-weight: 400;
}



@media (min-width: 768px) {
  table th {
    font-size: 1.125rem;
  }

}

table td {
  color: #F23397;
  font-size: 28px;
  text-align: center;
  padding-left: 0.8125rem;
}

@media (min-width: 768px) {
  table td {
    font-size: 2rem;
  }
}

.yen {
  font-size: 1rem;
  font-weight: 500;
  font-family: noto sans jp;
}

@media (min-width: 768px) {
  .yen {
    font-size: 1.125rem;
  }
}

.position-change {
  padding-left: 1rem;
  padding-bottom: 0.3125rem;
}



/* よくあるご質問
------------------------------------------ */
.qa {
  position: relative;
  overflow: hidden;
}

.qa .title {
  position: absolute;
  top: 4rem;
  left: 1rem;
  color: #FFF;
  font-size: 1.375rem;
}

@media (min-width: 768px) {
  .qa .title {
    font-size: 2rem;
    top: 41%;
    left: 38%;
  }
}

.qa img {
  filter: brightness(0.7);
  width: 100%;
  height: 10.625rem;
}

@media (min-width: 768px) {
  .qa img {
    width: 960px;
    height: 320px;
  }
  .qa-image img {
    transition: all .3s;
  }
  .qa-image:hover img {
    transform: scale(1.2, 1.2);
    transform-origin: center center;
  }
}

@media (min-width: 768px) {
  .qa-classroom-group {
    display: flex;
  }
}
/* お近くの教室を探す
------------------------------------------ */
.classrooms {
  position: relative;
  overflow: hidden;
}

.classrooms .title {
  position: absolute;
  top: 4rem;
  left: 1rem;
  color: #FFF;
  font-size: 1.375rem;
}

@media (min-width: 768px) {
  .classrooms .title {
    font-size: 2rem;
    top: 41%;
    left: 35%;
  }
}

.classrooms img {
  filter: brightness(0.7);
  width: 100%;
  height: 10.625rem;
}

@media (min-width: 768px) {
  .classrooms img {
    width: 960px;
    height: 320px;
  }
  .classrooms-image img {
    transition: all .3s;
  }
  .classrooms-image:hover img {
    transform: scale(1.2, 1.2);
    transform-origin: center center;
  }
}


/* フッター
------------------------------------------ */
.footer {
  padding: 1.5625rem 0.9375rem 1.875rem 1.75rem;
  background-color: #DDDDDD;
  text-align: center;
}

@media (min-width: 768px) {
  .footer {
    padding: 2.625rem 0;
  }
}